@using Items.Services.Data.Models.Item;
@model AllItemServiceModel

@{
	ViewData["Title"] = "All Items";
	ViewBag.ActiveLink = "AllItem";
}
<vc:query-filter hits="Model.TotalItemsCount"/>

@if (Model.Items.Any())
{
	<partial name="_AllItemsPartial" model="Model.Items"/>
}
else
{
	<div style="margin-top: 40vh" class="d-flex align-items-center justify-content-center">
		<h3>No Items!</h3>
	</div>
}
