@model IEnumerable<MyItemViewModel>

@{
	ViewData["Title"] = "My Items";
	ViewBag.ActiveLink = "MineItem";
}


@if (Model.Any())
{
	<vc:query-filter hits="85" />

	<partial name="_MyItemsPartial" />
}
else
{
	<div style="margin-top: 40vh" class="d-flex align-items-center justify-content-center">
		<h3>No Items!</h3>
	</div>
}