@using Items.Services.Data.Models.Item;
@model MineItemServiceModel

@{
	ViewData["Title"] = "My Items";
	ViewBag.ActiveLink = "MineItem";
}


@if (Model.Items.Any())
{
	<vc:query-filter hits="Model.TotalItemsCount" />

	<partial name="_MyItemsPartial" model="Model.Items" />
}
else
{
	<div style="margin-top: 40vh" class="d-flex align-items-center justify-content-center">
		<h3>No Items!</h3>
	</div>
}