@{
	ViewData["Title"] = "Home Page";
}

<div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
	</div>
	
	<div class="carousel-inner">

		<div class="carousel-item active">
			<div class="d-flex">
				<img src="https://i5.walmartimages.com/asr/824dcc86-5f1a-4e79-9f5c-b82a2d60ad11_1.36037c264a91c7babb03c32f1d1b46e7.jpeg"
					 alt="..."
					 style="height: 500px;">
				<div style="width: 300px;"
					 class="me-auto ms-auto d-flex flex-wrap align-items-center align-content-center">
					<h5 class="w-100">First slide label</h5>
					<p class="w-100">Some representative placeholder content for the first slide.</p>
				</div>

			</div>
		</div>
		
		<div class="carousel-item">
			<div class="d-flex">
				<img src="https://i5.walmartimages.com/asr/69cb9ba4-050e-4628-8534-5f320957cdae.07fa4cf630a92dc1cf2042cfc217ee07.jpeg"
					 alt="..."
					 style="height: 500px;">
				<div style="width: 300px;"
					 class="me-auto ms-auto d-flex flex-wrap align-items-center align-content-center">
					<h5 class="w-100">Second slide label</h5>
					<p class="w-100">Some representative placeholder content for the first slide.</p>
				</div>

			</div>
		</div>

		<div class="carousel-item">
			<div class="d-flex">
				<img src="https://i5.walmartimages.com/asr/19fe13d7-ea2e-47f7-8547-202ce8c88717_1.bc800cefd11bb60ebc07ebdd7fac8ff6.jpeg"
					 alt="..."
					 style="height: 500px;">
				<div style="width: 300px;"
					 class="me-auto ms-auto d-flex flex-wrap align-items-center align-content-center">
					<h5 class="w-100">Third slide label</h5>
					<p class="w-100">Some representative placeholder content for the first slide.</p>
				</div>

			</div>
		</div>
		
		<div class="carousel-item">
			<div class="d-flex">
				<img src="https://i5.walmartimages.com/asr/c35b2e78-a1db-4fc8-92d5-ed623ba7b035_1.256c72eb7e7931ab150493cf4a9986e3.jpeg?odnHeight=180&odnWidth=180&odnBg=ffffff"
					 alt="..."
					 style="height: 500px;">
				<div style="width: 300px;"
					 class="me-auto ms-auto d-flex flex-wrap align-items-center align-content-center">
					<h5 class="w-100">Third slide label</h5>
					<p class="w-100">Some representative placeholder content for the first slide.</p>
				</div>

			</div>
		</div>

	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
