@model IEnumerable<AllPlaceViewModel>

@{
	ViewData["Title"] = "Places";
	ViewBag.ActiveLink = "AllPlace";
}

<div class="btn-group-sm ">

	<a asp-controller="Place" asp-action="Add" type="button" class="btn btn-sm btn-primary me-2">Add Place</a>

	<vc:query-filter hits="85" />

</div>

@if (Model.Any())
{

	<table class="table table-secondary table-striped table-hover align-middle">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Description</th>
				<th scope="col">Location</th>
				<th scope="col">Items</th>
				<th scope="col">Manage</th>
			</tr>
		</thead>
		<partial name="_AllPlacesPartial" />

	</table>

}
else
{
	<div style="margin-top: 40vh" class="d-flex align-items-center justify-content-center">
		<h3>No Place Added Yet.</h3>
	</div>
}
