@model DataBidViewModel

@{
	ViewData["Title"] = "My Bids";
	ViewBag.ActiveLink = "AllBid";
}

<vc:query-filter hits="85" />

@if (Model.Bids.Any())
{
	
	<table class="table table-warning table-striped table-hover table-sm align-middle">
		<thead>
			<tr>
				<th scope="col">Picture</th>
				<th scope="col">Name</th>
				<th scope="col">Location</th>
				<th scope="col">QTY Left</th>
				<th scope="col">Highest Bid</th>
				<th scope="col">Barter Offers</th>
				<th scope="col">Start Price</th>
				<th scope="col">Auction End</th>
				<th scope="col">QTY</th>
				<th scope="col">Bid (per unit)</th>
				<th scope="col">Barter Item</th>
				<th scope="col">QTY</th>
				<th scope="col" class="ms-auto">Manage</th>

			</tr>
		</thead>

		<partial name="_AllBidsPartial" />

	</table>

}
else
{
	<div style="margin-top: 40vh" class="d-flex align-items-center justify-content-center">
		<h3>You Haven't Bid Yet.</h3>
	</div>
}

