@model Items.Services.Data.Models.Contract.AllContractServiceModel

@{
	ViewData["Title"] = "My Deals";
	ViewBag.ActiveLink = "AllDeal";
}

<vc:query-filter hits="@Model.TotalContractsCount" />

@if (Model.Contracts.Any())
{

	<table class="table table-primary  table-hover table-sm align-middle">
		<thead>
			<tr>
				<th scope="col">Picture</th>
				<th scope="col">Name</th>
				<th scope="col">Status</th>
				<th scope="col">Buyer <i class="far fa-comment"></i></th>
				<th scope="col">Seller <i class="far fa-comment"></i></th>
				<th scope="col">QTY</th>
				<th scope="col">Price</th>
				<th scope="col">Contract Date</th>
				<th scope="col">Send Date</th>
				<th scope="col">Delivery Date</th>
				<th scope="col">Delivery <i class="fas fa-map-marker-alt"></i></th>
				<th scope="col" class="ms-auto">Manage</th>
			</tr>
		</thead>

		<partial name="_AllDealPartial" model="Model.Contracts"/>

	</table>

}
else
{
	<div style="margin-top: 40vh" class="d-flex align-items-center justify-content-center">
		<h3>No Deals!</h3>
	</div>
}


