@model LocationFormModel

@{
	ViewData["Title"] = "Edit Location";
	ViewBag.ActiveLink = "AllLocation";
}


<h3 class="text-center">Edit Location</h3>
<hr class="w-50 mx-auto" />

<partial name="_LocationFormPartial" model="@Model" />


<div class="  w-50 mx-auto mt-2">
	<button 
			form="LocationFormId"
			type="submit"
			class="btn btn-primary">
		Save
	</button>
</div>